a.active {
  color:orange !important;
  text-decoration: underline !important;
}

.top-bar {
  padding: 0em !important;
  padding-right: 0.5em !important;
  padding-left: 0.5em !important;
}

.menu p {
  padding-top: 0.7rem;
  padding-right: 1rem;
  padding-bottom: 0.7rem;
  margin-bottom: 0rem;
  line-height: 1rem 
}

.row {
  padding: 1em;
}