a.active {
  color:orange !important;
  text-decoration: underline !important;
}

.top-bar {
  padding: 0em !important;
  padding-right: 0.5em !important;
  padding-left: 0.5em !important;
}

.menu p {
  padding-top: 0.7rem;
  padding-right: 1rem;
  padding-bottom: 0.7rem;
  margin-bottom: 0rem;
  line-height: 1rem 
}

.row, .grid-x {
  padding: 1em;
}

.label {
  display: block !important;
  font-size: inherit !important;
}

table {
  max-width: 100%;
  white-space: wrap;
}

table tbody td, table thead th {
  padding-top: 0.25rem !important;
  padding-right: 0.625rem;
  padding-bottom: 0.25rem !important;
  padding-left: 0.625rem;
}

td.number, th.number {
  text-align: right;
}
.small.button {
  margin-bottom: 0rem !important;
}
